<form class="example-form" [formGroup]="projectForm">
  <h2 mat-dialog-title>
    {{ data.id ? "EDIT PROJECT" : "CREATE PROJECT" }}
  </h2>
  <mat-dialog-content>
    <div class="grid grid-cols-2 gap-4">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="data.title" formControlName="title" />
        <mat-error *ngIf="cpf?.['title']?.errors?.['required']">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input
          matInput
          [(ngModel)]="data.description"
          formControlName="description"
        />
        <mat-error *ngIf="cpf?.['description']?.errors?.['required']">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Project Code</mat-label>
        <input
          matInput
          [(ngModel)]="data.projectCode"
          formControlName="projectCode"
          maxlength="10"
        />
        <mat-error *ngIf="cpf?.['projectCode']?.errors?.['required']">
          Project Code is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select
          [(ngModel)]="data.status"
          name="status"
          formControlName="status"
        >
          @for (status of appConstants.ProjectStatus; track status) {
          <mat-option [value]="status.value">{{ status.value }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="cpf?.['status']?.errors?.['required']">
          Status is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Close</button>
    <button
      mat-raised-button
      color="primary"
      (click)="acceptBtnClick(data)"
      cdkFocusInitial
    >
      Ok
    </button>
  </mat-dialog-actions>
</form>
