.horizontal-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.search-bar {
  display: flex;
}

.search-bar input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  padding: 5px 10px;
  height: 56px;
}

.filters select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.filters select:last-child {
  margin-right: 0;
}

.search-bar form ::ng-deep.mat-mdc-text-field-wrapper {
  width: 90%;
}
